
.bubbleContainer {
    display: flex;
    flex-direction: column;
    flex: 1;
    font-size: large;
    white-space: pre-wrap;
}

.bubbleServer {
    background: rgb(246, 243, 234);
    align-self: start;
    flex: 0;
    margin: 6px;
}

.bubbleSender {
    background: azure;
    align-self: end;
    flex: 0;
    margin: 6px;
}

